<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Factions
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="tab1" [fullscreen]="true">
  <ion-header collapse="condense">
   
  </ion-header>
  <ion-card class="cardBackground">
    <ion-card-header>
      <ion-card-title color="warning" >Factions</ion-card-title>
    </ion-card-header>
  
    <ion-card-content color="warning" >
      <ul class="factoins" *ngFor= "let f of factoin">
         <ion-text font color="primary"> <h1>{{f.name}}</h1>{{f.races}}{{f.info}}{{f.line}}<br></ion-text>
      </ul>
    </ion-card-content>
  </ion-card>
  
 

  
</ion-content>
