<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Characters
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="tab3" [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Characters</ion-title>
    </ion-toolbar>
  </ion-header>
<div class="cheif">
  <ion-card>
    <ion-card-header>    
      <ion-card-title>Master Chief</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <button ion-button (click)="toggleChief()">{{cheifButtonText}}</button>
      <ul>
        <li [hidden]="hideChief" *ngFor= "let ch of cheif">{{ch.line}}</li>
      </ul>
    </ion-card-content>
  </ion-card>
</div>


  <ion-card>
    <ion-card-header>    
      <ion-card-title>Cortana</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <button ion-button (click)="toggleCortana()">{{cortanaButtonText}}</button>
      <ul>
        <li [hidden]="hideCor" *ngFor= "let co of cortana">{{co.line}}</li>
      </ul>
    </ion-card-content>
  </ion-card>

</ion-content>