<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="header">
      Halo Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="home" [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title class="header" size="large">Halo Home</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-text color="primary"> Username: <input [(ngModel)]="username"></ion-text>
<div>
  <ion-text color="primary"><p>Hello {{username}}!</p></ion-text>
</div>
  <ion-button (click)='setDataHome()'>Remember Me</ion-button>


  <app-explore-container color="secondary" name=""></app-explore-container>
</ion-content>
